@charset "utf-8";

*{margin: 0;padding: 0;}
a{text-decoration: none;}
.none{display: none;}
.fr{background: #fff;width: 20px;height: 20px;border-radius: 10px;float: right;font-size: 20px;text-align: center;line-height: 20px;
	-webkit-transform:rotate(-45deg);
	-webkit-transition:all 0.5s;
}
.fr:hover{
	-webkit-transform:rotate(135deg);
}
h1{text-align: center;margin: 10px 0;}
form{width: 400px;margin: 50px auto 20px;}
[type=text],a,p,#total,#viewer{font: bold 18px "Microsoft Yahei","Arial";}
[type=text]{width: 380px;height:30px;border-radius: 5px;outline: 0;padding: 10px;}
::-webkit-input-placeholder{font-style:italic;}
ul,li{list-style: none;margin: 3px auto;}
li{width: 390px;padding: 10px 5px;
	border-radius: 6px;overflow: hidden;
	-webkit-transition:background 0.5s;
	-moz-transition:background 0.5s;
	transition:background 0.5s;
}
li:hover{background: #ccc;}
li:hover .none,label{display: block;}
[type=checkbox]{float: left;margin: 5px;}
p{float: left;width: 340px;word-wrap:break-word;}
.del{text-decoration: line-through;}
#total,#viewer{width: 390px;margin:10px auto;}
#total span{color:red;}
#checkall{margin:3px 5px 0  10px;}